main .section1-link {
  padding: 46px 0 48px 0;
  background-color: #f8f8f8;
}
main .section1-link .container {
  width: 1684px;
  margin: 0 auto;
}
main .section1-link .container .section1-link-content {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
main .section1-link .container .section1-link-content .link-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
}
main .section1-link .container .section1-link-content .link-item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  align-items: center;
  text-align: left;
  color: #25282b;
  cursor: pointer;
  margin-right: 15px;
}
main .section1-link .container .section1-link-content .link-item .service-link {
  color: #339cb3;
}
main .section2-personal {
  padding: 50px 0;
}
main .section2-personal .container {
  width: 1684px;
  margin: 0 auto;
}
main .section2-personal .container .back-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 138px;
}
main .section2-personal .container .back-btn p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  align-items: center;
  color: #25282b;
  margin-right: 8px;
}
main .section2-personal .container .online-info {
  margin-bottom: 47px;
  text-align: left;
}
main .section2-personal .container .online-info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 10px;
}
main .section2-personal .container .online-info p:last-child {
  margin-bottom: 0px;
}
main .section2-personal .container .personal-info {
  display: flex;
  justify-content: space-between;
  align-items: top;
  vertical-align: top;
}
main .section2-personal .container .personal-info .card {
  width: 540px;
  height: 550px;
}
main .section2-personal .container .personal-info .card img {
  width: auto;
  margin-bottom: 50px;
}
main .section2-personal .container .personal-info .card .dot {
  text-align: center;
}
main .section2-personal .container .personal-info .card .dot img {
  display: inline-block;
  width: auto;
  margin-right: 13px;
}
main .section2-personal .container .personal-info .card .dot img:last-child {
  margin-right: 0px;
}
main .section2-personal .container .personal-info .card-descr {
  width: 540px;
  text-align: left;
}
main .section2-personal .container .personal-info .card-descr .margarita {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 34px;
}
main .section2-personal .container .personal-info .card-descr .margarita h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #25282b;
}
main .section2-personal .container .personal-info .card-descr .margarita img {
  width: auto;
}
main .section2-personal .container .personal-info .card-descr p {
  padding: 0 34px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #25282b;
  margin-bottom: 20px;
}
main .section2-personal .container .personal-info .card-descr p:last-child {
  margin-bottom: 0px;
}
main .section2-personal .container .personal-info .card-descr .stars {
  padding: 0 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 126px;
  margin-bottom: 45px;
}
main .section2-personal .container .personal-info .card-descr .stars img {
  width: auto;
}
main .section2-personal .container .personal-info .card-descr .stars p {
  margin-left: 10px;
}
main .section2-personal .container .personal-info .card-descr button {
  padding: 18px 26px;
  margin-bottom: 54px;
  margin-left: 34px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: 1px solid #339cb3;
  background-color: #339cb3;
  border-radius: 10px;
  cursor: pointer;
}
main .section2-personal .container .personal-info .card-descr .verification {
  width: 446px;
  padding: 28px 31px 36px 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(143, 160, 223, 0.25);
  box-shadow: 0px 4px 40px rgba(138, 138, 138, 0.04);
  border-radius: 12px;
}
main .section2-personal .container .personal-info .card-descr .verification .checkmark img {
  width: auto;
}
main .section2-personal .container .personal-info .card-descr .verification .verif-descr p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #25282b;
  margin-bottom: 9px;
}
main .section2-personal .container .personal-info .card-descr .verification .verif-descr p:last-child {
  margin-bottom: 0px;
}
main .section2-personal .container .personal-info .card-reg {
  padding: 72px 104px;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
  border-radius: 10px;
}
main .section2-personal .container .personal-info .card-reg .reg-item {
  width: 332px;
  margin-bottom: 20px;
}
main .section2-personal .container .personal-info .card-reg .reg-item select {
  width: 332px;
  padding: 12px 12px;
  background-color: #ffffff;
  border: 1px solid rgba(51, 156, 179, 0.25);
  border-radius: 5px;
  cursor: pointer;
}
main .section2-personal .container .personal-info .card-reg .reg-item select option {
  padding: 12px 12px;
}
main .section2-personal .container .personal-info .card-reg .reg-item-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 332px;
  margin-bottom: 50px;
}
main .section2-personal .container .personal-info .card-reg .reg-item-data form input {
  width: 160px;
  padding: 10px 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  color: #25282b;
  background-color: #ffffff;
  border: 1px solid rgba(51, 156, 179, 0.25);
  border-radius: 5px;
  cursor: pointer;
}
main .section2-personal .container .personal-info .card-reg .reg-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
main .section2-personal .container .personal-info .card-reg .reg-price p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  color: #25282b;
  margin-right: 65px;
}
main .section2-personal .container .personal-info .card-reg .reg-price h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  color: #728adf;
}
main .section2-personal .container .personal-info .card-reg button {
  padding: 18px 105px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: 1px solid #339cb3;
  background-color: #339cb3;
  border-radius: 10px;
  cursor: pointer;
}
main .section3-description .container {
  width: 1684px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
main .section3-description .container .desc-wrapper {
  margin-right: 131px;
}
main .section3-description .container .desc-wrapper .item {
  margin-bottom: 120px;
  width: 440px;
}
main .section3-description .container .desc-wrapper .item h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  color: #728adf;
  margin-bottom: 30px;
}
main .section3-description .container .desc-wrapper .item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #25282b;
  margin-bottom: 20px;
}
main .section3-description .container .desc-wrapper .item p:last-child {
  margin-bottom: 0px;
}
main .section3-description .container .desc-wrapper .item p .span1 {
  padding-left: 38px;
}
main .section3-description .container .desc-wrapper .item p .span2 {
  padding-left: 125px;
}
main .section3-description .container .desc-wrapper .item p .span3 {
  padding-left: 147px;
}
main .section3-description .container .desc-wrapper2 .item2 {
  margin-bottom: 40px;
  width: 823px;
}
main .section3-description .container .desc-wrapper2 .item2 h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #25282b;
  margin-bottom: 40px;
}
main .section3-description .container .desc-wrapper2 .item2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #000000;
}
main .section3-description .container .desc-wrapper2 .item2-img h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  color: #25282b;
  margin-bottom: 40px;
}
main .section3-description .container .desc-wrapper2 .item2-img img {
  display: inline-block;
  margin-right: 30px;
}
main .section3-description .container .desc-wrapper2 .item2-img img:last-child {
  margin-right: 0px;
}
main .section4-views .container {
  width: 1684px;
  margin: 0 auto;
  text-align: center;
}
main .section4-views .container .wrapper-all {
  width: 789px;
  margin: 0 auto;
}
main .section4-views .container .wrapper-all .views-sum {
  text-align: left;
}
main .section4-views .container .wrapper-all .views-sum h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  color: #25282b;
  margin-bottom: 60px;
  text-align: left;
}
main .section4-views .container .wrapper-all .views-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 50px;
  border-right: 8px solid #339cb3;
}
main .section4-views .container .wrapper-all .views-wrapper .view {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: top;
  width: 731px;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
  border-radius: 10px;
  padding: 30px 50px 24px 27px;
  margin-bottom: 30px;
}
main .section4-views .container .wrapper-all .views-wrapper .view:last-child {
  margin-bottom: 0px;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item1 {
  margin-right: 30px;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item1 img {
  width: auto;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item2 {
  text-align: left;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item2 h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  color: #25282b;
  margin-bottom: 8px;
  text-align: left;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item2 .stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item2 .stars img {
  display: inline-block;
  margin-right: 3px;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item2 .stars p {
  margin-left: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #25282b;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item2 p {
  margin-left: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #25282b;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item2 .view-date {
  text-align: right;
  padding-top: 70px;
}
main .section4-views .container .wrapper-all .views-wrapper .view .item2 .view-date p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: #25282b;
}
main .section8-underline {
  margin-top: 180px;
}
main .section8-underline .container {
  width: 1684px;
  margin: 0 auto;
  text-align: center;
}
main .section8-underline .container .hr-line {
  display: inline-block;
  border-bottom: 5px solid #339cb3;
  width: 100%;
}/*# sourceMappingURL=PetsitterPageCard.module.css.map */