
.question-btn {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  width: 100%; /* уидз задал чтобы содержимое занял всю ширину */
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
  margin-bottom: 30px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0px;
  }
  .btn-content {
    p {
      display: inline-block;
      width: auto;

      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: #25282b;

      text-align: left;
    }

    img {
      display: inline-block;
    }
  }
}