
.section5-question {
  padding-top: 75px; /* changed */
  .container {
    width: 95%;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      color: #25282b;

      margin-bottom: 60px;

      text-align: center;
    }

    .question-cards {
      display: flex;
      justify-content: center; /* changed */
      flex-wrap: wrap;

      .question-item {
        width: 600px; /* Width for cards */ /* changed */
        display: inline-block;

        margin-bottom: 50px;

        .question-paragraph {
          
        }
      }

      .question-item-img {
        max-width: 540px; /* Width for cards */

        img {
          display: block;
          width: 100%;

          margin-bottom: 60px;
        }

        .contact-us {
          display: flex;
          flex-direction: row;
          justify-content: center;
          p {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #25282b;
            margin-right: 10px;
          }

          .contact-btn {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            align-items: center;
            text-decoration-line: underline;
            color: #728adf;

            border: none;
            outline: none;
            background-color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}