$p_black: #25282B;
$a_black: #25282B;
// $orange_buttons: #F1CDB3;
// $white_buttons: white;
$p_font: 'Open Sans', sans-serif; 
$a1_font: 'Open Sans', sans-serif; 
$h2_font: 'Raleway', sans-serif;
$a2_font: 'Raleway', sans-serif;
$a3_font: 'Roboto', sans-serif;
$butt_font: 'Roboto', sans-serif;
