@import '../../common.scss';

@mixin common-input {
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(51, 156, 179, 0.25);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 12px 30px 12px 12px;
}


.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1300px) {
    flex-direction: column;
    gap: 20px;
  }
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;

  .select {
    @include common-input;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../../images-blog/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }

  .date-input {
    @include common-input;
  }
}

.search-result {
  margin-top: 15px;
}

.content-container {
  margin-top: 31px;
  display: flex;
}

.result-items {
  @include flex(flex, row, start);
  width: 100%;
  gap: 37px;
  height: 1332px;

  @media (max-width: 1300px) {
    flex-direction: column;
  }

  .result-item {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    @media (max-width: 1300px) {
      width: 100%;
    }

    &__card {
      @include flex(flex, row, flex-start);
      gap: 16px;
      height: 241px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(51, 156, 179, 0.25);
      margin-right: 54px;

      @media (max-width: $tablet_media_point) {
        margin-right: 1rem;
      }
    }

    &__card:last-of-type {
      border-bottom: none;
    }

    &__header {
      @include flex();
      width: 100%;
      justify-content: space-between;

      > span {
        color: $h3_color;
        font-weight: 600;
      }

      @media (max-width: $tablet_media_point) {
        flex-direction: column;
        align-items: baseline;
        gap: 10px;

        > img {
          width: 20px;
          height: 20px;
        }

        > span {
          font-size: 12px;
        }
      }
    }

    &__body {
      @include flex(flex, column, flex-start);
      gap: 16px;
      width: 100%;
      height: 100%;
    }

    &__stars {
      @include flex();
      gap: 10px;
    }
  }
}

.ymap-container {
  border-radius: 10px;
  overflow: hidden;
}