@import "../common.scss";

header {
  .header-flex-reg {
    // max-width: 153px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .account {
      text-decoration: none;
      list-style: none;

      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      align-items: center;
      color: #25282b;
    }

    .log_out {
      text-decoration: none;
      list-style: none;

      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      align-items: center;
      color: #728adf;
    }
  }
}

.nav1_opm {
  @include flex(flex, row, none);
  background-color: #f8f8f8;
  font-family: $a1_font;
  padding: 46px 0;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  margin-bottom: 50px;

  img {
    padding: 0 10px 0 10px;
  }

  .main {
    color: $a_black;
    text-decoration: none;
  }

  .my_account {
    color: $a_black;
    text-decoration: none;
  }

  .messages_nav1 {
    color: #339cb3;
    text-decoration: none;
  }
}

.nav2_opm {
  @include flex(flex, row, none);
  gap: 8px;

  a {
    font-family: $a1_font;
    font-size: 20px;
    line-height: 27.24px;
    text-decoration: none;
    color: $a_black;
    padding-right: 16px;
  }
}

.main_opm {
  @include flex;
  justify-content: space-between;
  margin: 50px 0;

  @media (max-width: 1500px) {
    flex-direction: column;
  }

  p {
    color: $p_black;
    font-family: $p_font;
  }

  @media (max-width: $tablet_media_point) {
    .view {
      width: 100%;
      height: auto;
    }
  }

  .message_main {
    max-width: 823px;

    .delete {
      @include flex(flex, row-reverse, center);
      gap: 16px;

      @media (max-width: 1500px) {
        margin-top: 1.5rem;
      }

      p {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .my_messages {
      @include flex(flex, column, none);
      justify-content: space-between;
      gap: 40px;
      margin-bottom: 40px;

      h2 {
        font-family: $h2_font;
        font-size: 48px;
        line-height: 56px;
        color: $h2_black;
      }

      p {
        font-size: 25px;
        line-height: 34px;
      }
    }

    .date_opm {
      @include flex(flex, row-reverse, center);
      margin-bottom: 10px;

      p {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .hr_opm {
      height: 1px;
      background: rgba(51, 156, 179, 0.25);
      display: block;
      border: none;
    }

    .hr_opm2 {
      margin-top: 3px;
      height: 4px;
      display: block;
      background-color: rgba(217, 217, 217, 0.2);
      border: none;
    }
  }
}
