
.card-item-content {
  // new
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-bottom: 33px;

  img {
    max-width: 100%;
    margin-right: 16px;

    vertical-align: middle;
  }
  p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #25282b;
    text-align: left;

    vertical-align: middle;
  }
}