$p_black: #25282B;
$a_black: #25282B;
// $orange_buttons: #F1CDB3;
// $white_buttons: white;
$p_font: 'Open Sans', sans-serif; 
$a1_font: 'Open Sans', sans-serif; 
$h2_font: 'Raleway', sans-serif;
$a2_font: 'Raleway', sans-serif;
$a3_font: 'Roboto', sans-serif;
$butt_font: 'Roboto', sans-serif;
$h3_black: #25282B;
$h3_font: 'Raleway', sans-serif;
$tablet_media_point: 998px;
$h2_black: #25282B;
$h2_color: #339CB3;
$h3_color: #728ADF;