
.card_item {
  padding: 30px 34px;
  max-width: 397px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .date_content {
    display: flex;
    justify-content: space-between;
    .date_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        max-width: 100%;
        margin-right: 10px;
        object-fit: cover;
      }
      p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #25282b;
      }
    }
  }

  h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #25282b;
    text-align: left;

    margin-bottom: 20px;
  }
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #25282b;
    text-align: left;

    margin-bottom: 20px;
  }
  button {
    display: block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: left;

    color: #339cb3;
    background-color: #fff;
    cursor: pointer;

    border: none;
    outline: none;
  }
}