
.card_item {
  display: flex;
  justify-content: space-between;
  padding: 23px;
  width: 520px;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
  border-radius: 10px;
  overflow: hidden;

  .user_picture {
    img {
      width: 100%;
      margin-right: 30px;
      object-fit: cover;
    }
  }

  .user_content {
    max-width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 31px;
      line-height: 36px;
      color: #25282b;
      text-align: left;
      margin-bottom: 20px;
    }
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #25282b;

      text-align: left;
    }

    .user_location {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      .map_city {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        img {
          display: block;
          max-width: 100%;
          margin-right: 16px;
        }
        p {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #25282b;
        }
      }

      .review_date {
        p {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #25282b;
        }
      }
    }
  }
}